<div class="row">
    <div class="col-12 col-md">
        <img class="mb-2" src="{{ "/assets/images/darkmatter.png" | prepend: site.baseurl }}" alt="" width="48" height="48">
        <small class="d-block mb-3 text-muted">&copy; Darkmatter Theme 2018</small>
    </div>
    <div class="col-6 col-md">
        <h5>Heading 1</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">HyperLink One</a></li>
            <li><a class="text-muted" href="#">HyperLink Two</a></li>
            <li><a class="text-muted" href="#">HyperLink Three</a></li>
            <li><a class="text-muted" href="#">HyperLink Four</a></li>
            <li><a class="text-muted" href="#">HyperLink Five</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Heading 2</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">HyperLink One</a></li>
            <li><a class="text-muted" href="#">HyperLink Two</a></li>
            <li><a class="text-muted" href="#">HyperLink Three</a></li>
            <li><a class="text-muted" href="#">HyperLink Four</a></li>
            <li><a class="text-muted" href="#">HyperLink Five</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Heading 3</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">HyperLink One</a></li>
            <li><a class="text-muted" href="#">HyperLink Two</a></li>
            <li><a class="text-muted" href="#">HyperLink Three</a></li>
            <li><a class="text-muted" href="#">HyperLink Four</a></li>
            <li><a class="text-muted" href="#">HyperLink Five</a></li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr>
<div class="row">
    <div class="col-6 col-md">
        <p class="text-muted float-left">
            <a href="https://github.com/fellowhobbyist/darkmatter-theme/" target="_blank">Darkmatter Theme</a>
            Handcrafted with <i class="fas fa-heart"></i> by a <a href="https://fellowhobbyist.com" target="_blank">Fellow
                Hobbyist</a>
        </p>
    </div>
    <div class="col-6 col-md">
        <p class="text-muted float-right">
            <a href="https://opensource.org/licenses/MPL-2.0" target="_blank">Mozilla Public License 2.0</a>
        </p>
    </div>
</div>
<!-- /.row -->