<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #333;">
    <div class="container">
        <a class="navbar-brand" href="/">Darkmatter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cover">Cover</a>
                        <a class="dropdown-item" href="/frontpage">Frontpage</a>
                        <a class="dropdown-item" href="/landing">Landing</a>
                        <a class="dropdown-item" href="/welcome">Welcome</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about">About</a>
                        <a class="dropdown-item" href="/team">Team</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fullwidth">Full Width</a>
                        <a class="dropdown-item" href="/album">Album</a>
                        <a class="dropdown-item" href="/product">Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/blog">Blog</a>
                        <a class="dropdown-item" href="/post">Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/portfolio-1">1 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-2">2 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-3">3 Column Portfolio</a>
                        <a class="dropdown-item" href="/portfolio-item">Portfolio Item</a>
                    </div>
                </li>

            </ul>
            <form action="/search" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>
        </div>
    </div>
</nav>